{namespace dce=ArminVieweg\Dce\ViewHelpers}
<f:layout name="None" />

<f:section name="main">
	<f:be.container loadExtJs="false" loadPrototype="false" loadScriptaculous="false" enableClickMenu="false" pageTitle="DCE Preview" addCssFile="{f:uri.resource(path:'CSS/dcePreview.css', extensionName:'dce')}">
			<div id="typo3-inner-docbody">
				<h4 class="uppercase">
					<f:image src="{f:uri.resource(path:'Icons/ext_icon.gif')}" alt="{f:translate(key:'LLL:EXT:dce/Resources/Private/Language/locallang_mod.xml:mlang_labels_tablabel')}" />
					<span><f:translate key="LLL:EXT:dce/Resources/Private/Language/locallang_mod.xml:previewOverHeadline" /></span>
				</h4>
				<p style="padding-left: 20px;"><f:translate key="LLL:EXT:dce/Resources/Private/Language/locallang_mod.xml:previewOverText" /></p>
			</div>
	</f:be.container>
</f:section>