{namespace dce=Tx_Dce_ViewHelpers}
<select class="availableVariables select" id="variables_{uniqueIdentifier}">
	<option></option>
	<optgroup label="{f:translate(key:'LLL:EXT:dce/Resources/Private/Language/locallang.xml:availableVariables')}" class="c-divider">
		<f:for each="{availableFields}" as="field">
			<option value="v:field.{field.variable}">{field.variable -> dce:format.wrapWithCurlyBraces(prepend:'field.')} - {field.title}{f:if(condition:'{field.type} == 2', then:' ({f:translate(key:\'LLL:EXT:dce/Resources/Private/Language/locallang.xml:useForViewhelper\')})')}</option>
		</f:for>
	</optgroup>
	<optgroup label="{f:translate(key:'LLL:EXT:dce/Resources/Private/Language/locallang.xml:availableBaseVariables')}" class="c-divider">
		<option value="{dce}">{f:translate(key:'LLL:EXT:dce/Resources/Private/Language/locallang.xml:dceObjectNode')} - {f:translate(key:'LLL:EXT:dce/Resources/Private/Language/locallang.xml:dceObject')}</option>
		<option value="{contentObject}">{f:translate(key:'LLL:EXT:dce/Resources/Private/Language/locallang.xml:contentObjectNode')} - {f:translate(key:'LLL:EXT:dce/Resources/Private/Language/locallang.xml:contentObject')}</option>
		<option value="{TSFE}">{f:translate(key:'LLL:EXT:dce/Resources/Private/Language/locallang.xml:tsfeObjectNode')} - {f:translate(key:'LLL:EXT:dce/Resources/Private/Language/locallang.xml:tsfeObject')}</option>
		<option value="{page}">{f:translate(key:'LLL:EXT:dce/Resources/Private/Language/locallang.xml:pageObjectNode')} - {f:translate(key:'LLL:EXT:dce/Resources/Private/Language/locallang.xml:pageObject')}</option>
	</optgroup>
	<optgroup label="{f:translate(key:'LLL:EXT:dce/Resources/Private/Language/locallang.xml:famousViewHelper')}" class="c-divider">
		<f:for each="{famousViewHelpers}" as="viewhelperValue" key="viewhelperName">
			<option value="f:{viewhelperValue}">f:{viewhelperName}</option>
		</f:for>
	</optgroup>
	<optgroup label="{f:translate(key:'LLL:EXT:dce/Resources/Private/Language/locallang.xml:dceViewHelper')}" class="c-divider">
		<f:for each="{dceViewHelpers}" as="dceViewhelperValue" key="dceViewhelperName">
			<option value="f:{dceViewhelperValue}">dce:{dceViewhelperName}</option>
		</f:for>
	</optgroup>
</select>