{namespace dce=ArminVieweg\Dce\ViewHelpers}
<f:be.container loadExtJs="false" loadPrototype="false" loadScriptaculous="false" enableClickMenu="false" pageTitle="DCE Backend Module">
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div id="typo3-docheader">
				<div class="typo3-docheader-functions">
					<f:render section="iconButtons" />
				</div>
				<div class="typo3-docheader-buttons">
					<div class="left">

					</div>
					<div class="right">
						<f:be.buttons.shortcut />
					</div>
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<h4 class="uppercase">
					<f:image src="{f:uri.resource(path:'Icons/ext_icon.png')}" alt="{f:translate(key:'LLL:EXT:dce/Resources/Private/Language/locallang_mod.xml:mlang_labels_tablabel')}" />
					<span><f:translate key="LLL:EXT:dce/Resources/Private/Language/locallang_mod.xml:mlang_labels_tablabel" /></span> <b style="font-size: 9px; color: #d44">BETA</b>
				</h4>
				<f:flashMessages renderMode="div" /><br />
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>