{namespace dce=ArminVieweg\Dce\ViewHelpers}
<ul class="bodytextAttributes">
	<f:if condition="{fields -> dce:isArray()}">
		<f:for each="{fields}" as="singleField" key="variableName" iteration="iterator">
			<f:if condition="{iterator.isFirst} == 0">
				<li class="field">
					<b>{variableName -> dce:format.ucfirst()}:</b>

					<f:if condition="{singleField -> dce:isArray()}">
						<f:then>
							<div class="sectionFields">
								<f:for each="{singleField}" as="entry">
									<ul class="section">
										<f:if condition="{entry -> dce:isArray()}">
											<f:then>
												<f:for each="{entry}" key="property" as="value">
													<li style="padding-left: 10px;">{property -> dce:format.ucfirst()}: {value}</li>
												</f:for>
											</f:then>
											<f:else>
												<li style="padding-left: 10px;">Object</li>
											</f:else>
										</f:if>
									</ul>
								</f:for>
							</div>
						</f:then>
						<f:else>
							<span class="simpleValue">{singleField}</span>
						</f:else>
					</f:if>
				</li>
			</f:if>
		</f:for>
	</f:if>
</ul>