{namespace dce=Tx_Dce_ViewHelpers}
<ul>
	<f:if condition="{fields -> dce:isArray()}">
		<f:for each="{fields}" as="singleField" key="variableName" iteration="iterator">
			<f:if condition="{iterator.isFirst} == 0">
					<f:then>
						<b>{variableName -> dce:format.ucfirst()}:</b>
						<ul>
							<f:for each="{singleField}" as="entry">
								<li style="margin-bottom: 5px;">
									<ul>
										<f:if condition="{entry -> dce:isArray()}">
											<f:then>
												<f:for each="{entry}" key="property" as="value">
													<li style="padding-left: 10px;">{property -> dce:format.ucfirst()}: {value}</li>
												</f:for>
											</f:then>
											<f:else>
												<li style="padding-left: 10px;">Object</li>
											</f:else>
										</f:if>
									</ul>
								</li>
							</f:for>
						</ul>
					</f:then>
					<f:else>
						<li title="{singleField}">{variableName -> dce:format.ucfirst()}: {singleField}</li>
					</f:else>
			</f:if>
		</f:for>
	</f:if>
</ul>