/* TODO: Remove when TYPO3 6.2 is outdated */

.typo3-docheader-functions,
.typo3-docheader-buttons {
	background: transparent;
}

#typo3-docheader > div.inner {
	background: #eee;
	height: 54px;
}

.btn {
	text-decoration: none !important;
}

h1.hallOfFame {
	font-family: Share, Verdana, Arial, Helvetica, sans-serif;
}

.btn-group li.divider {
	background-color: transparent;
	margin-top: 2px;
}

*:hover a {
	text-decoration: none !important;
}

.usage a {
	color: #000;
}

.usage a:hover {
	text-decoration: underline !important;
}
