.buttons {
	padding-bottom: 10px;
}

.buttons .button {
	float: left;
	margin-right: 8px;
}

.buttons .unobtrusive {
	padding-top: 4px;
	color: #777;
}

.buttons .clear {
	clear: left;
}

.versioncheck {
	float: right;
	padding-right: 10px;
}