{namespace dce=Tx_Dce_ViewHelpers}<?php

$TCA['tt_content']['columns']['CType']['config']['items'][] = array(
	0 => 'LLL:EXT:dce/Resources/Private/Language/locallang_db.xml:tx_dce_domain_model_dce_long',
	1 => '--div--'
);

<f:for each="{dceArray}" as="dce">
<f:if condition="{dce.hidden} == 0">
///////////////////////////////////////////////////// uid:{dce.uid} ///
Tx_Extbase_Utility_Extension::registerPlugin(
	'dce',
	'dceuid{dce.uid}',
	'{dce.title}'
);

$TCA['tt_content']['types']['list']['subtypes_addlist']['dce_dceuid{dce.uid}'] = 'pi_flexform';
$TCA['tt_content']['columns']['pi_flexform']['config']['ds'][',dce_dceuid{dce.uid}'] = '<f:render partial="FlexFormsXML" arguments="{dce:dce}"></f:render>';
$TCA['tt_content']['types']['dce_dceuid{dce.uid}']['showitem'] = 'CType;;dce_palette_{dce.uid};button;1-1-1,pi_flexform; ;<f:if condition="{dce.show_access_tab}">,--div--;LLL:EXT:cms/locallang_ttc.xml:tabs.access, --palette--;LLL:EXT:cms/locallang_ttc.xml:palette.visibility;visibility, --palette--;LLL:EXT:cms/locallang_ttc.xml:palette.access;access</f:if>,--div--;LLL:EXT:cms/locallang_ttc.xml:tabs.extended<f:if condition="{dce:be.extensionIsInstalled(key:'gridelements')}">,tx_gridelements_container,tx_gridelements_columns</f:if>';
<f:if condition="{dce.palette_fields}">
	<f:then>$TCA['tt_content']['palettes']['dce_palette_{dce.uid}']['showitem'] = '{dce.palette_fields}';</f:then>
	<f:else>$TCA['tt_content']['palettes']['dce_palette_{dce.uid}'] = $TCA['tt_content']['palettes'][4]; //default</f:else>
</f:if>

<f:if condition="{dce.wizard_enable}">
t3lib_extMgm::addPageTSConfig('
	mod.wizards.newContentElement.wizardItems.{dce.wizard_category}.elements.dce_dceuid{dce.uid} {
	    icon = <f:if condition="{dce.hasCustomWizardIcon}"><f:then>../uploads/tx_dce/{dce.wizard_custom_icon}</f:then><f:else>gfx/c_wiz/{dce.wizard_icon}.gif</f:else></f:if>
	    title = {dce.title}
	    description = {dce.wizard_description}
	    tt_content_defValues {
	        CType = dce_dceuid{dce.uid}
	    }
	}
	    mod.wizards.newContentElement.wizardItems.{dce.wizard_category}.show := addToList(dce_dceuid{dce.uid})
');
</f:if>
</f:if>
</f:for>

// global definitions
$TCA['tt_content']['columns']['CType']['config']['items'][] = array(
	0 => 'LLL:EXT:dce/Resources/Private/Language/locallang_db.xml:tx_dce_domain_model_dce.miscellaneous',
	1 => '--div--'
);

t3lib_extMgm::addPageTSConfig('mod.wizards.newContentElement.wizardItems.dce.header = LLL:EXT:dce/Resources/Private/Language/locallang_db.xml:tx_dce_domain_model_dce_long');

?>