{namespace dce=ArminVieweg\Dce\ViewHelpers}<?php
<f:for each="{dceArray}" as="dce">
<f:if condition="{dce.hidden} == 0">
///////////////////////////////////////////////////// uid: {dce.uid} ///
\TYPO3\CMS\Extbase\Utility\ExtensionUtility::configurePlugin(
	'ArminVieweg.dce',
	'dceuid{dce.uid}',
	[
		'Dce' => 'show',
	],
	[
		<f:if condition="{dce.cache_dce}"><f:then></f:then>
            <f:else>'Dce' => 'show'</f:else></f:if>
	],
    \TYPO3\CMS\Extbase\Utility\ExtensionUtility::PLUGIN_TYPE_CONTENT_ELEMENT
);

\TYPO3\CMS\Core\Utility\ExtensionManagementUtility::addTypoScript('dce', 'setup', '
# Hide lib.stdheader for DCE with uid {dce.uid}
' . 'tt_content.dce_dceuid{dce.uid}.10 >', 43);

<f:if condition="{dce:be.extensionLoaded(key:'css_styled_content')}">
<f:if condition="{dce.hide_default_ce_wrap}">
\TYPO3\CMS\Core\Utility\ExtensionManagementUtility::addTypoScript('dce', 'setup', '
# Hide default wrapping for content elements for DCE with uid {dce.uid}
' . 'tt_content.stdWrap.innerWrap.cObject.default.stdWrap.if.value := addToList(dce_dceuid{dce.uid})', 43);
</f:if>
</f:if>
<f:if condition="{dce.wizard_enable}">
	<f:if condition="{dce.hasCustomWizardIcon}">
if (!empty('{dce.wizard_custom_icon}')) {
	$iconRegistry = \TYPO3\CMS\Core\Utility\GeneralUtility::makeInstance('TYPO3\CMS\Core\Imaging\IconRegistry');
	$iconRegistry->registerIcon(
		'ext-dce-dceuid{dce.uid}-customwizardicon',
		'TYPO3\CMS\Core\Imaging\IconProvider\BitmapIconProvider',
		['source' => '{dce.wizard_custom_icon}']
	);
}
	</f:if>
\TYPO3\CMS\Core\Utility\ExtensionManagementUtility::addPageTSConfig('
	mod.wizards.newContentElement.wizardItems.{dce.wizard_category}.elements.dce_dceuid{dce.uid} {
		iconIdentifier = <f:if condition="{dce.hasCustomWizardIcon}"><f:then>ext-dce-dceuid{dce.uid}-customwizardicon</f:then><f:else>{dce.wizard_icon}</f:else></f:if>
		title = {dce.title -> dce:format.addcslashes()}
		description = {dce.wizard_description -> f:format.raw() -> dce:format.addcslashes()}
		tt_content_defValues {
			CType = dce_dceuid{dce.uid}
		}
	}
	mod.wizards.newContentElement.wizardItems.{dce.wizard_category}.show := addToList(dce_dceuid{dce.uid})

	TCEFORM.tt_content.pi_flexform.types.dce_dceuid{dce.uid}.label = {dce.flexform_label}
');
</f:if>
</f:if>
</f:for>
