{namespace dce=Tx_Dce_ViewHelpers}<?php
<f:for each="{dceArray}" as="dce">
Tx_Extbase_Utility_Extension::configurePlugin(
	'dce',
	'dceuid{dce.uid}',
	array(
		'Dce' => 'show',
	),
	array(
		<f:if condition="{dce.cache_dce}"><f:then></f:then><f:else>'Dce' => 'show'</f:else></f:if>
	),
	Tx_Extbase_Utility_Extension::PLUGIN_TYPE_CONTENT_ELEMENT
);
<f:if condition="{dce.show_lib_header}">
	<f:then></f:then>
	<f:else>
t3lib_extMgm::addTypoScript('dce', 'setup', '
# Hide lib.stdheader for DCE with uid {dce.uid}
' . 'tt_content.dce_dceuid{dce.uid}.10 >', 43);
</f:else></f:if>
</f:for>
?>