<h4 class="dceHeader col-lg-10">
    <div id="copyright">
        <a href="https://v.ieweg.de/" target="_blank" title="This extension has been made by Armin Vieweg - Freelancer - v.ieweg Webentwicklung">
            <img src="{f:uri.resource(path:'Icons/ArminViewegLogo.svg')}" alt="v.ieweg Webentwicklung Logo" />
        </a>
    </div>

    <img src="{f:uri.resource(path:'Icons/DceModuleHeaderIcon.svg')}" width="24" alt="{f:translate(key:'LLL:EXT:dce/Resources/Private/Language/locallang_mod.xlf:mlang_labels_tablabel')}" />
    <span><f:translate key="LLL:EXT:dce/Resources/Private/Language/locallang_mod.xlf:mlang_labels_tablabel" /></span>
    <span class="dceVersion">{dce:be.version.dce()}</span>
</h4>
