<h4 class="dceHeader">
    <div id="copyright">
        <a href="https://v.ieweg.de/" target="_blank" title="This extension has been made by Armin Vieweg - Freelancer - v.ieweg Webentwicklung">
            <img src="{f:uri.resource(path:'Icons/ArminViewegLogo.svg')}" alt="v.ieweg Webentwicklung Logo" class="show-light" />
            <img src="{f:uri.resource(path:'Icons/ArminViewegLogoDark.svg')}" alt="v.ieweg Webentwicklung Logo" class="show-dark" />
        </a>
    </div>

    <div class="d-flex align-items-center">
        <img src="{f:uri.resource(path:'Icons/Extension_x2.png')}" width="32" class="show-light" alt="{f:translate(key:'LLL:EXT:dce/Resources/Private/Language/locallang_mod.xlf:mlang_labels_tablabel')}" />
        <img src="{f:uri.resource(path:'Icons/Extension_x2_dark.png')}" width="32" class="show-dark" alt="{f:translate(key:'LLL:EXT:dce/Resources/Private/Language/locallang_mod.xlf:mlang_labels_tablabel')}" />
        <div class="ms-2">
            <span><f:translate key="LLL:EXT:dce/Resources/Private/Language/locallang_mod.xlf:mlang_labels_tablabel" /></span>
            <span class="dceVersion">{dce:be.version.dce()}</span>
        </div>
    </div>
</h4>
